:root {
  --primary-color: #2e3c3b;
  --primary-color-rgba: rgba(46, 60, 59, 0.9);
  --mix-color: #e9967a;
  --second-primary-color: #daae5d;
  --btn-background-color: #daae5d;
  --yellow-color: #daae5d;
  --white-color: #ffffff;
  --ghost-white: #f9f9fb;
  --heading-font: "Libertinus Sans";
}

/* ************************TABLET************************************* */

@media (max-width: 1024px) and (min-width: 740px) {
  /* ************************HEADER*********************** */

  .homepage {
    padding-bottom: 400px;
    border-bottom: 1px solid var(--btn-background-color);
  }

  .about-us {
    margin-right: 32px;
  }

  .slideshow .slides-area {
    width: 100%;
    height: 555px;
  }

  /* **********************OUR SERVICE******************* */

  .service {
    padding-top: 198px;
  }

  .service__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .service__info {
    padding: 24px;
  }

  .service__item:hover .service__info {
    padding: 24px 20px;
  }

  .service__desc {
    width: 100%;
  }

  /* ************************OUR PROJECT************************************* */

  .project__heading {
    width: 82%;
  }

  .project__sub-title {
    width: 94.98%;
  }

  .project__list {
    display: block;
  }

  .project__item {
    display: flex;
    margin-bottom: 16px;
  }

  .project__img {
    border-radius: 20px 0 0 20px;
    width: 55%;
  }

  .project__thumb {
    border-radius: 20px 0 0 20px;
  }

  .project__info {
    margin: 12px 24px;
    width: calc(100% - 55%);
  }

  .project__desc {
    width: 397px;
  }

  /* MODAL */

  .project__modal-FT-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(227px, 1px));
  }

  .modal__FT-close-btn {
    right: 45px;
  }

  .project__modal-CB-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(227px, 1px));
  }

  .modal__CB-close-btn {
    right: 45px;
  }

  .modal__GH-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(227px, 1px));
  }

  .modal__GH-close-btn {
    right: 45px;
  }
}

/* ************************MOBILE************************************* */

@media (max-width: 720px) {
  body::-webkit-scrollbar {
    display: none;
  }

  .header {
    position: sticky;
    margin-top: -10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 160px;
    background: var(--primary-color-rgba);
    backdrop-filter: blur(15px);
    z-index: 10;
  }

  .header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .logo {
    margin-right: auto;
  }

  .navbar {
    position: absolute;
    padding-top: 10px;
    top: 0;
    display: none;
    width: 100%;
    animation: navbarAnimation 0.25s ease;
  }

  @keyframes navbarAnimation {
    from {
      transform: translateY(-100px);
    }
    to {
      transform: translateY(0);
    }
  }

  .navbar-open {
    display: block;
  }
  .navbar-list {
    display: block;
  }

  .navbar-item {
    display: block;
    width: 100%;
    text-align: left;
    background: var(--btn-background-color);
    padding: 6px 24px;
    border: 1px solid var(--primary-color);
    transition: 0.25s ease;
    cursor: pointer;
  }

  .navbar-item:hover {
    padding: 6px 40px;
  }

  .navbar-link {
    width: 100%;
    color: var(--primary-color);
  }

  .navbar__control {
    display: flex;
    top: 1px;
    right: 1px;
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--btn-background-color);
    cursor: pointer;
  }

  .navbar__control.click {
    display: none;
  }

  .navbar__close-btn {
    position: absolute;
    display: none;
    top: 1px;
    right: 1px;
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
    color: var(--btn-background-color);
    background: var(--primary-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
    animation: closeBtnAnimation 0.25s ease;
  }

  .open-close-btn {
    display: flex;
    position: absolute;
    top: 1px;
    right: 1px;
    background: var(--primary-color);
    color: var(--btn-background-color);
  }

  @keyframes closeBtnAnimation {
    from {
      transform: translateY(-100px);
    }
    to {
      transform: translateY(0);
    }
  }

  /* HEADING */
  .homepage {
    display: block;
    padding-bottom: 0;
  }

  .about-us {
    width: 100%;
  }
  .about-us__heading {
    width: 100%;
    font-size: 4.5rem;
  }

  .slideshow {
    display: block;
    margin-top: 24px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }

  .slideshow .slides-area {
    width: 100%;
  }

  /* OUR_SERVICE */
  .service {
    padding-bottom: 0;
  }

  .service__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }

  .service__item:hover {
    background: var(--white-color);
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
    transform: translateY(-50px);
    transition: 0.25s ease;
  }

  .service__info {
    padding: 24px 12px;
  }

  .service__item:hover .service__info {
    padding: 24px 12px;
  }

  .service__desc {
    width: 100%;
    text-align: justify;
    padding: 24px 12px;
  }

  /* PROJECT */
  .project__heading {
    width: 100%;
  }

  .project__sub-title {
    width: 100%;
    text-align: justify;
  }

  .project__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .project__modal-body {
    width: 100%;
  }

  .project__modal-FT-wrapper {
    display: block;
  }

  .modal__FT-close-btn,
  .modal__CB-close-btn,
  .modal__GH-close-btn {
    right: 35px;
    top: 170px;
  }

  /* CONTACT */
  .contact__header-desc {
    width: 64%;
  }

  .contact__form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .contact__info {
    width: 100%;
  }
}
