* {
  box-sizing: border-box;
}

:root {
  --primary-color: #2e3c3b;
  --primary-color-rgba: rgba(46, 60, 59, 0.9);
  --heading-bg-color: rgba(255, 255, 255, 0.075);
  --mix-color: #e9967a;
  --second-primary-color: #daae5d;
  --btn-background-color: #daae5d;
  --yellow-color: #daae5d;
  --white-color: #ffffff;
  --ghost-white: #f9f9fb;
  --heading-font: "Libertinus Sans";
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
}

/* =========================Commons================================= */

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  min-width: 160px;
  height: 50px;
  color: var(--btn-background-color);
  background: var(--primary-color);
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bolder {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 2.2rem;
}

/* =========================Header-Start================================= */

.heading {
  position: sticky;
  top: -10px;
  background: var(--primary-color);
  z-index: 10000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  order: 2;
  align-items: center;
}

.nav > li {
  display: inline-block;
  margin-left: 8px;
}

.nav li a {
  padding: 24px 16px;
  color: var(--btn-background-color);
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.nav li a:hover {
  cursor: pointer;
  color: var(--yellow-color);
}

.nav-toggle-icon {
  display: none;
  cursor: pointer;
  font-size: 3rem;
  color: var(--yellow-color);
  order: 4;
}

/* =========================Header-End================================= */

/* =========================Translate-Button================================= */

/* 1. KHUNG CHỨA VÀ VỊ TRÍ (NAV BAR) */
.toggle-button-cover {
  position: static; /* Khôi phục lại luồng tài liệu nếu cần */
  margin: 26px 0 0 40px;
  order: 3; /* Quan trọng cho Flexbox/Grid trong Navbar */
  /* Loại bỏ 'button-cover' và các quy tắc không cần thiết khác */
}

/* 2. CÁC QUY TẮC CHUNG CHO CẢ NÚT */
/* Kết hợp các quy tắc 'position: absolute' chung */
.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* 3. KHUNG CÔNG TẮC CHÍNH */
.button {
  position: relative;
  top: 50%; /* Căn giữa theo chiều dọc của nút chuyển đổi */
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto; /* Đẩy lên (20px = 36px/2 + 2px điều chỉnh) */
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px; /* Làm tròn hoàn toàn */
}

/* 4. CHECKBOX (ẨN) */
.checkbox {
  position: relative; /* Quan trọng để nó nằm trên cùng (z-index) */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

/* 5. NỀN (LAYER) VÀ NÚT TRÒN (KNOBS) */
.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #fcebeb; /* Màu nền khi TẮT (VN) */
  transition: 0.3s ease all;
  z-index: 1;
}

/* 6. THIẾT KẾ CỤ THỂ CHO NÚT #button-3 (Nút tròn "VN" / "US") */

#button-3 .knobs:before {
  content: "VN";
  position: absolute;
  top: 4px; /* Căn chỉnh vị trí dọc */
  left: 4px; /* Vị trí ban đầu (VN) */

  /* Kích thước và kiểu chữ */
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;

  /* Màu sắc và hình dáng (VN) */
  color: #ffc717; /* Màu chữ */
  background-color: #f44336; /* Màu nền nút */
  border-radius: 50%;

  /* Hiệu ứng chuyển động */
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

/* 7. HIỆU ỨNG KHI ĐƯỢC CHỌN (CHECKED - US) */

#button-3 .checkbox:checked + .knobs:before {
  content: "US"; /* Đổi chữ */
  left: 42px; /* Dịch chuyển sang phải */
  color: #fff;
  background-color: #03a9f4; /* Màu nền nút (US) */
}

#button-3 .checkbox:checked ~ .layer {
  background-color: #d7e3e3; /* Màu nền công tắc khi BẬT (US) */
}

/* 8. HIỆU ỨNG NHẤN CHUỘT (ACTIVE) */

/* Khi nhấn chuột (trước khi thả), nút tròn dãn ra */
#button-3 .checkbox:active + .knobs:before {
  width: 46px; /* Dãn rộng nút tròn */
  border-radius: 100px; /* Dãn tròn thành hình elip */
}

/* Hiệu ứng nhấn chuột khi nút đã ở trạng thái CHECKED (US) */
#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px; /* Điều chỉnh vị trí dãn ra để nút dãn về bên trái */
}

/* =========================Translate-Button__END================================= */

/* =========================Homepage================================= */

.homepage {
  display: flex;
  align-items: center;
  padding: 170px 0;
  flex-wrap: nowrap;
}

.about-us {
  width: 45%;
  flex-shrink: 0;
  margin-right: 76px;
}

.about-us__heading {
  color: var(--second-primary-color);
  font-family: var(--heading-font);
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 1.14;
}

.about-us___desc {
  color: var(--yellow-color);
  margin-top: 22px;
  font-size: 1.8rem;
  font-weight: 350;
  line-height: 1.66;
  text-align: justify;
}

.slideshow {
  display: flex;
  width: 55%;
  justify-content: center;
  flex-grow: 1;
}

.slideshow .slides-area {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 400px;
  aspect-ratio: 16 / 9;
  background-color: #ccc;
  overflow: hidden;
  border-radius: 20px;
}

.img-feature {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.img-feature.slide-next {
  transform: translateX(100%);
}

.img-feature.slide-prev {
  transform: translateX(-100%);
}

.control {
  width: 54px;
  height: 100%;
  background-color: transparent;
  color: transparent;
  font-size: 1.8rem;
  border: none;
  margin: 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 10;
}

.control:hover {
  color: #ccc;
  transition: 0.2s ease-in-out;
  background-color: rgba(255, 247, 251, 0.1);
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.slideshow-img__list {
  display: none;
}

/* =========================Our-Service================================= */
.service {
  padding: 170px 0;
}

.section__sub-title::before {
  margin-right: 21px;
  display: inline-block;
  width: 25px;
  height: 1px;
  background: var(--yellow-color);
  content: "";
}

.section__sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2;
  color: var(--second-primary-color);
}

.service__header-top {
  margin-top: 12px;
  font-family: var(--heading-font);
  color: var(--second-primary-color);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23;
  text-align: center;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-top: 76px;
}

.service__item {
  border-radius: 20px;
  background-color: var(--white-color);
  transition: box-shadow 0.25s;
}

.service__item:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item:hover .service__thumb {
  transform: scale(1.1);
}

.service__img {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.service__thumb {
  display: block;
  width: 100%;
  height: 318px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  transition: 0.25s;
}

.service__info {
  padding: 24px 18px;
  transition: 0.25s;
}

.service__title {
  color: var(--second-primary-color);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.service__title a {
  text-decoration: none;
  color: inherit;
}

.service__desc {
  text-align: justify;
  width: auto;
  margin-top: 18px;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

/* =========================Our-Project================================= */

.project {
  padding: 170px 0;
}

.project__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.project__heading {
  width: 53.6%;
  color: var(--second-primary-color);
  font-family: var(--heading-font);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.23;
}

.project__sub-title {
  width: 56.98%;
  color: var(--second-primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
}

.project__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  margin-top: 76px;
}

.project__item {
  border-radius: 20px;
  background: var(--white-color);
}

.project__item:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
  border-radius: 20px;
}

.project__item:hover .project__thumb {
  transform: scale(1.1);
}

.project__item:hover .project__info {
  padding: 24px 18px;
}

.project__img {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.project__thumb {
  display: block;
  width: 100%;
  height: 318px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  transition: 0.25s;
}

.project__info {
  padding: 24px 7px;
  transition: 0.25s;
}

.project__title {
  color: var(--second-primary-color);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.project__desc {
  text-align: left;
  width: 313px;
  margin-top: 18px;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71;
}

/* =========================CONTACT================================= */

.contact {
  padding: 170px 0;
  background: var(--ghost-white);
}

.contact__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.contact__header-top {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.23;
}

.contact__header-desc {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
}

.contact__form {
  display: flex;
  margin: 60px auto 0;
  padding: 6px;
  border-radius: 10px;
  background: var(--white-color);
}

.contact__info {
  position: relative;
  flex-shrink: 0;
  width: 33.33%;
  height: 512px;
  padding: 24px 30px 30px;
  border-radius: 10px;
  color: var(--btn-background-color);
  background: var(--primary-color);
  overflow: hidden;
}

.contact__info-header {
  font-weight: 600;
  font-size: 2.2rem;
  font-family: var(--heading-font);
}

.contact__info-desc {
  margin-top: 10px;
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--btn-background-color);
}

.contact__list {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.contact__info-item {
  display: flex;
  gap: 20px;
}

.contact__info-icon {
  display: inline-block;
  width: 18px;
  text-align: center;
  color: var(--second-primary-color);
  opacity: 0.8;
}

.contact__info-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.contact__info-value {
  font-size: 1.3rem;
  color: var(--btn-background-color);
}

.contact__info-value:hover {
  text-decoration: underline;
}

.contact__circle {
  position: absolute;
  right: 55px;
  bottom: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--mix-color);
  opacity: 0.95;
}

.large {
  right: -110px;
  bottom: -110px;
  z-index: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: var(--btn-background-color);
}

.contact__map {
  width: 100%;
  height: 512px;
  margin-left: 10px;
  overflow: hidden;
  border-radius: 15px;
}

.contact__map-box {
  width: 100%;
  height: 100%;
}

.contact__map-screen {
  width: 100%;
  height: 100%;
}

/* =========================CONTACT================================= */
.footer {
  background-color: var(--primary-color);
}

.footer__line {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.copyright {
  padding: 28px 0;
  color: var(--btn-background-color);
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.85;
}

/* =========================MODAL================================= */

/* PROJECT FURNITURE MODAL */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.modal.open {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.modal__FT-layout,
.modal__CB-layout,
.modal__GH-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.project__modal-body {
  position: relative;
  max-width: 900px;
  max-height: 75vh;
  width: 80%;
  background: var(--white-color);
  padding: 20px;
  border-radius: 20px;
  z-index: 200;
  overflow-y: scroll;
  animation: modalAnimation;
  transform: translateY(0);
}

.project__modal-body::-webkit-scrollbar {
  display: none;
}

/* TỐI ƯU HÓA GRID BỐ CỤC ẢNH */

.pr.project__modal-FT-wrapper,
.project__modal-CB-wrapper,
.modal__GH-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1px));
  grid-auto-rows: 158px;
  grid-auto-flow: dense;
  gap: 16px;
}

.project__modal-FT-wrapper div,
.project__modal-CB-wrapper div,
.modal__GH-wrapper div {
  overflow: hidden;
  border-radius: 10px;
}

.FT__img,
.CB__img,
.GH__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* TỐI ƯU HÓA NÚT ĐÓNG */

.modal__FT-close-btn,
.modal__CB-close-btn,
.modal__GH-close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  font-size: 1.8rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: var(--white-color);
  color: var(--second-primary-color);
  transition: 0.25s ease;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal__FT-close-btn:hover,
.modal__CB-close-btn:hover,
.modal__GH-close-btn:hover {
  background: var(--btn-background-color);
  color: var(--white-color);
}

/* MASONRY EFFECT */

.tall {
  grid-row: span 4;
  grid-column: span 7;
}

.tall__small {
  grid-row: span 2;
  grid-column: span 1;
}

.wide {
  grid-row: span 4;
  grid-column: span 7;
}

.wide__small {
  grid-column: span 2;
  grid-row: span 1;
}

.modal__slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 2;
  padding: 30px;
  text-align: center;
}

.modal__logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.slogan {
  margin-top: 30px;
  font-family: var(--heading-font);
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--btn-background-color);
  line-height: 1.3;
}
/* MODAL GH END */

@keyframes modalAnimation {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* =========================RESPONSIVE================================= */
